#container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 0 50px;
}

.header {
    padding-top: 100px;
    flex: 1;
    width: 100%;
}

h1, .header p, .button {
    text-transform: uppercase;
    text-align: center;
}

h1 {
    font-family: 'latoblack';
    font-size: 36px;
    color: #fec400;
}

.header p {
    font-family: 'yu_gothicregular';
    font-size: 10px;
    color: #fff;
    letter-spacing: 7.5px;
}

.basement {
    flex: 1;
    width: 100%;
}

.button {
    right: 25%;
    left: 25%;
    max-width: 50%;
    box-sizing: border-box;
    font-family: 'Bebas Neue';
    cursor: pointer;
    font-size: 18px;
    border-radius: 8px;
    border-color: #000;
    padding: 10px 0;
    color: #fff;
    background: #000;
    bottom: 70px;
    position: absolute;
}

.button:hover {
    color: #000;
    background-color: #e36804;
    box-shadow:0 0 15px #e36704;
    border: 1px solid #e36704;
}

/* Adaptive */

/* @media (min-width: 768px) {

    #conteiner {
        width: 768px;
    }

    .visual-value {
        margin: 5% auto;
        height: 300px;
        width: 520px;
    }

    .old-width {
        right: 325px;
    }
    
    .new-width {
        left: 310px;
    }

    .old-height, .new-height {
        top: 80px;
    }
    
    .old-height {
        left: 30px;
    }
    
    .new-height {
        right: 30px;
    }

    .old-diameter, .new-diameter {
        bottom: 70px;
    }
    
    .old-diameter {
        right: 430px;
    }
    
    .new-diameter {
        left: 430px;
    }

} */