@font-face {
    font-family: 'latoblack';
    src: local('latoblack'),
        url(./fonts/lato-black-webfont/lato-black-webfont.woff2) format('woff2'),
        url(./fonts/lato-black-webfont/lato-black-webfont.woff) format('woff');
}

@font-face {
    font-family: 'latomedium';
    src: local('latomedium'),
        url(./fonts/lato-medium-webfont/lato-medium-webfont.woff2) format('woff2'),
        url(./fonts/lato-medium-webfont/lato-medium-webfont.woff) format('woff');
}

@font-face {
    font-family: 'latoregular';
    src: local('latoregular'),
        url(./fonts/lato-regular-webfont/lato-regular-webfont.woff2) format('woff2'),
        url(./fonts/lato-regular-webfont/lato-regular-webfont.woff) format('woff');
}

@font-face {
	font-family: 'Bebas Neue';
    src: local('Bebas Neue'),
        url(./fonts/bebasneuebold/bebasneuebold.woff2) format('woff2'),
        url(./fonts/bebasneuebold/bebasneuebold.woff) format('woff');
}

@font-face {
    font-family: 'yu_gothicregular';
    src: local('yu_gothicregular'),
        url(./fonts/yugothic-webfont/yugothic-webfont.woff2) format('woff2'),
        url(./fonts/yugothic-webfont/yugothic-webfont.woff) format('woff');
}

*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: inline-block;
}

ul,
li{
    list-style: none;
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
    font-size: 14px;
    margin: auto;
    background: url(./img/bg.jpg) top center no-repeat fixed padding-box content-box;
	background-size: cover;
}

#container{
    position: relative;
    min-height: 667px;
    max-width: 375px;
    margin: 0 auto;
}