#select-page {
    flex: 1;
    width: 100%;
    padding: 8px;
}

.title-select, .heder-chenges, .select-conteiner {
    text-align: center;
    text-transform: uppercase;
}

.title-select, .heder-chenges, .select-value {
    font-size: 18px;
}

.title-select, .heder-chenges {
    font-family: 'Bebas Neue';
    color: #000;
}

.old-size, .new-size {
    box-sizing: border-box;
    border-radius: 8px;
    margin: 0 auto 20px;
    padding: 8px;
    width: 300px;
}
.old-size {
    background-color: #fec400;
}

.new-size {
    background-color: #e36804;
}

.title-select {
    margin-block-start: 0;
    margin-block-end: 0;
}

.select-item {
    /* font-family: 'latomedium';*/
    font-size: 25px;
    /*border-radius: 3px;
    border-color: #fff;
    margin: 0 5px; */
/* ____________________________________________________________________________ */
  appearance: base-select;
  color: #71717a;
  background-color: #fff;
  box-sizing: border-box;
  border: 1px solid #e4e4e7;
  border-radius: calc(0.5rem - 2px);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;

  & > button {
    display: flex;
    width: 100%;
    font-family: inherit;
    color: currentColor;

    & > svg {
      margin: 5px 0 0 auto;
      width: 1.2rem;
      height: 1.2rem;
    }
  }

  &:has(option:not([hidden]):checked) {
    color: #000;
  }

  &:focus-visible {
    outline: 2px solid #a1a1aa;
    outline-offset: -1px;
  }

  &::picker-icon {
    display: none;
  }

  &::picker(select) {
    appearance: base-select;
    border: 1px solid #e4e4e7;
    padding: 0.25rem;
    margin-top: 0.25rem;
    border-radius: calc(0.5rem - 2px);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -2px rgba(0, 0, 0, 0.1);
    cursor: default;
    transition: opacity 225ms ease-in-out, transform 225ms ease-in-out;
    transform-origin: top;
    transform: translateY(0);
    opacity: 1;
    
    @starting-style {
      transform: translateY(-0.25rem) scale(0.95);
      opacity: 0;
    }
  }

  & optgroup label {
    display: block;
    padding: 0.375rem 0.5rem;
  }

  & option {
    padding: 0.375rem 0.5rem;
    border-radius: calc(0.5rem - 4px);
    outline: none;

    &::after {
      content: "";
      width: 1rem;
      height: 1.5rem;
      margin-left: auto;
      opacity: 0;
      background: center / contain no-repeat
        url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%2318181b' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M20 6 9 17l-5-5'%3E%3C/path%3E%3C/svg%3E");
    }

    &::checkmark {
      display: none;
    }

    &:checked {
      background-color: transparent;

      &::after {
        opacity: 1;
      }
    }

    &:hover,
    &:focus-visible {
      background-color: #f4f4f5;
      color: #18181b;
    }
  }
/* _______________________________________________________________________________ */

}

.horizontal-line {
    background-color: #fff;
}

.visual-value {
    background: url(./img/visual-result.jpg) no-repeat top center;
	background-size: cover;
    position: relative;
    height: 230px;
    max-width: 100%;
}

.old-width, .old-height, .old-diameter, .new-width, .new-height, .new-diameter {
    box-sizing: border-box;
    border-radius: 8px;
    position: absolute;
    font-size: 14px;
    padding: 2px 3px;
}

.old-width, .old-height, .old-diameter {
    background-color: #fec400;
}
.new-width, .new-height, .new-diameter {
    background-color: #e36804;
}

.old-width, .new-width {
    top: 5px;
}

.old-width {
    right: 222px;
}

.new-width {
    left: 215px;
}

.old-height, .new-height {
    top: 60px;
}

.old-height {
    left: 15px;
}

.new-height {
    right: 15px;
}

.old-diameter, .new-diameter {
    bottom: 60px;
}

.old-diameter {
    right: 270px;
}

.new-diameter {
    left: 270px;
}